<div class="main-sidebar">
  <div class="main-menu">
    <ul class="sidebar-menu scrollable">
      <li class="sidebar-item open">
        <a role="button" class="sidebar-link-group-title has-sub"
          >KalaaVedika</a
        >
        <ul class="sidebar-link-group">
          <li class="sidebar-dropdown-item">
            <a href="/admin/Astrologerlist/list" class="sidebar-link active"
              ><span class="nav-icon"
                ><i class="fa-light fa-cart-shopping-fast"></i
              ></span>
              <span class="sidebar-txt">Astrologer List</span></a
            >
          </li>

          <li class="sidebar-dropdown-item">
            <a href="/admin/user/list" class="sidebar-link"
              ><span class="nav-icon"
                ><i class="fa-light fa-user-headset"></i
              ></span>
              <span class="sidebar-txt">User list</span></a
            >
          </li>
          <li class="sidebar-dropdown-item">
            <a href="/admin/expertise/list" class="sidebar-link"
              ><span class="nav-icon"
                ><i class="fa-light fa-user-tie"></i
              ></span>
              <span class="sidebar-txt">Expertise List</span></a>
          </li>
          <li class="sidebar-dropdown-item">
            <a href="/admin/languages/list" class="sidebar-link"
              ><span class="nav-icon"
                ><i class="fa-light fa-user-tie"></i
              ></span>
              <span class="sidebar-txt">Languages List</span></a>
          </li>

          <li class="sidebar-dropdown-item">
            <a href="/admin/banners/list" class="sidebar-link"
              ><span class="nav-icon"
                ><i class="fa-light fa-user-tie"></i
              ></span>
              <span class="sidebar-txt">Banners</span></a
            >
          </li>

          <li class="sidebar-item">
            <a role="button" class="sidebar-link-group-title has-sub">Pages</a>
            <ul class="sidebar-link-group">
      
                <li class="sidebar-dropdown-item">
                    <a role="button" class="sidebar-link has-sub" data-dropdown="userDropdown"><span class="nav-icon"><i class="fa-light fa-user"></i></span> <span class="sidebar-txt">User</span></a>
                    <ul class="sidebar-dropdown-menu" id="userDropdown">
                        <li class="sidebar-dropdown-item"><a href="/adimn/profile/:id" class="sidebar-link">View Profile</a></li>
                        <li class="sidebar-dropdown-item"><a href="edit-profile.html" class="sidebar-link">Edit Profile</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        </ul>
      </li>
    </ul>
  </div>
</div>

