<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>admin</title>
    <link rel="shortcut icon" href="<% process.env.BASEURL %>/favicon.png">
    <link rel="stylesheet" href="<% process.env.BASEURL %>/vendor/css/all.min.css">
    <link rel="stylesheet" href="<% process.env.BASEURL %>/vendor/css/sharp-solid.min.css">
    <link rel="stylesheet" href="<% process.env.BASEURL%>/vendor/css/sharp-regular.min.css">
    <link rel="stylesheet" href="<% process.env.BASEURL %>/vendor/css/jquery-ui.min.css">
    <link rel="stylesheet" href="<% process.env.BASEURL %>/vendor/css/OverlayScrollbars.min.css">
    <link rel="stylesheet" href="<% process.env.BASEURL %>/vendor/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="<% process.env.BASEURL %>/vendor/css/select2.min.css">
    <link rel="stylesheet" href="<% process.env.BASEURL %>/vendor/css/bootstrap.min.css">
    <link rel="stylesheet" href="<% process.env.BASEURL %>/css/style.css">
    <link rel="stylesheet" id="primaryColor" href="<% process.env.BASEURL %>/css/blue-color.css">
    <link rel="stylesheet" id="rtlStyle" href="#">
</head>
<body>
    <%- include('partials/header'); %>
    <%- include('partials/sidebar'); %>
    <div class="main-content">
        <%- body %>
      </div>

    <%- include('partials/footer'); %>
    
    <script src="<% process.env.BASEURL %>/vendor/js/jquery-3.6.0.min.js"></script>
<script src="<% process.env.BASEURL %>/vendor/js/jquery.overlayScrollbars.min.js"></script>
<script src="<% process.env.BASEURL %>/vendor/js/bootstrap.bundle.min.js"></script>
<script src="<% process.env.BASEURL %>/js/main.js"></script>
</body>
</html>