<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>Payment Form</title>
</head>
<body>
    <form action='https://test.payu.in/_payment' name="payment_form" method='post'>
        <input type="hidden" name="key" value='gtKFFx' />
        <input type="hidden" name="txnid"  value="<%= txnid %>" /> <!-- Leave it empty for now -->
        <input type="hidden" name="productinfo" value="iPhone" />
        <input type="hidden" name="amount" value="<%=amount%>" />
        <input type="hidden" name="email" value="test@gmail.com" />
        <input type="hidden" name="firstname" value="Ashish" />
        <input type="hidden" name="lastname" value="Kumar" />
        <input type="hidden" name="surl" value="https://api.makeitwish.com/payment/success?token=<%= token %>>" />
        <input type="hidden" name="furl" value="https://api.makeitwish.com/payment/failure" />
        <input type="hidden" name="phone" value="9779507225"/>
        <input type="hidden" name="hash" value="<%= hash %>" />

        <input type="submit" value="submit" /> 
    </form>

    <script>
        window.onload = function(){
            document.forms['payment_form'].submit();
        }
    </script>
</body>
</html>


